body {
  font-family: 'Quicksand' !important;
  padding: 0 !important;
  margin: 0 !important;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

// Utils
@import 'utils/_alignments';
@import 'utils/_displays';
@import 'utils/_variables';
@import 'utils/_sizes';
@import 'utils/_paddings';
@import 'utils/_colors';
@import 'utils/_functions';
@import 'utils/_mixins';
@import 'utils/_margins';
@import 'utils/_typo-sizes';

// Components
@import 'components/_blocks';
@import 'components/_buttons';
@import 'components/_dropdowns';
@import 'components/_lists';
@import 'components/_tables';
@import 'components/_forms';
@import 'components/_labels';
@import 'components/_dataTables';
@import 'components/_tabs';
@import 'components/_calendar';
@import 'components/_schedule';
@import 'components/_textfields';
@import 'components/_selects';
@import 'components/_animations.scss';

// Pages
@import 'pages/app.scss';
@import 'pages/header.scss';
@import 'pages/sign-in.scss';
@import 'pages/home.scss';

@import 'pages/transaction.scss';
@import 'pages/transaction-overview.scss';
@import 'pages/transaction-preview.scss';
@import 'pages/transaction-item.scss';

@import 'pages/organization.scss';
@import 'pages/organization-overview.scss';
@import 'pages/organization-preview.scss';
@import 'pages/organization-item.scss';

@import 'pages/customer.scss';
@import 'pages/customer-overview.scss';
@import 'pages/customer-preview.scss';
@import 'pages/customer-item.scss';

@import 'pages/agent.scss';
@import 'pages/agent-overview.scss';
@import 'pages/agent-preview.scss';
@import 'pages/agent-item.scss';

// Customs
@import 'pages/custom-button.scss';
