.main-sign-in {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
}

.modal-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.modal-info {
  font-weight: 500;
  font-size: larger;
  text-align: center;
}

.page-sign-in {
  position: relative !important;
  font-family: $primary-font-family !important;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

  > img {
    position: absolute;
    height: inherit;
    width: inherit;
    object-fit: cover;
  }
}

.sign-in-form {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  height: inherit;
  width: inherit;

  > form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    height: 100%;
    width: 400px;
    color: black;
    background-color: rgba($color: $white_90, $alpha: 0.8);

    label {
      margin-top: 20px;
      font-family: $primary-font-family !important;
      height: 35px;
      width: 300px;
      text-align: left;
      line-height: 150%;
      font-size: 1.1rem;
      font-weight: 600;
    }
  }
}

.sign-in-title {
  width: inherit;
  margin-top: 100px !important;
  font-family: $primary-font-family !important;
  font-size: 2.5rem !important;
  font-weight: 500 !important;
  text-align: center !important;
}

.sign-in-label {
  width: inherit;
  margin-top: 30px !important;
  margin-bottom: 30px;
  font-family: $primary-font-family !important;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center !important;
}

.sign-in-input {
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  border: 1px solid;
  border-color: $white-blight;
  color: white !important;
  background-color: $primary !important;
  font-size: 1.2rem;
  font-weight: 500;
  height: 35px;
  width: 300px;
  text-align: start;

  &::placeholder {
    color: rgba($color: white, $alpha: 0.7);
    opacity: 1;
  }

  &:focus {
    border-color: $primary;
  }
}

.sign-in-button {
  margin-top: 50px;
  color: white;
  background-color: $primary;
  height: 35px;
  width: 300px;

  align-items: center;
  text-align: center;
  align-self: center;
  vertical-align: middle;
  line-height: 1.3;
  border-radius: 5px;
  box-shadow: 0 1px 5px 1px rgba($shadow, 0.075);

  &:hover,
  &:focus,
  &:active,
  &.active {
    cursor: pointer;
    color: $white;
    background-color: darken($primary, 6%);
    border-color: darken($primary, 6%);
  }

  &.disabled {
    &:hover,
    &:focus,
    &:active,
    &.active,
    &.active[disabled],
    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus,
    &[disabled]:active {
      background-color: lighten($primary, 35%);
      border-color: lighten($primary, 35%);
    }
  }

  > span {
    font-family: $primary-font-family !important;
    line-height: 100%;
    font-size: 1.1rem;
    font-weight: 600;
    padding-bottom: 15px !important;
  }
}
