/*----------------------------------------------
    Display Variables
----------------------------------------------*/

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}