/*------------------------------------
    Paddings
------------------------------------*/

.p-x {
  &-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  &-10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  &-12 {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }

  &-14 {
    padding-left: 14px !important;
    padding-right: 14px !important;
  }

  &-15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  &-25 {
    padding: 1.78571rem !important;
  }

  &-40 {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }

  &-50 {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }

  &-200 {
    padding-left: 200px !important;
    padding-right: 200px !important;
  }
}

.p-y {
  &-0 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  &-10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  &-15 {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }

  &-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
  }

  &-20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  &-25 {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
  }

  &-40 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }

  &-50 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }

  &-200 {
    padding-top: 200px !important;
    padding-bottom: 200px !important;
  }
}

.p-r {
  &-10 {
    padding-right: 10px !important;
  }

  &-15 {
    padding-right: 15px !important;
  }
}

.p-l {
  &-5 {
    padding-left: 5px !important;
  }
}

.p-t {
  &-2 {
    padding-top: 2px !important;
  }

  &-10 {
    padding-top: 10px !important;
  }

  &-20 {
    padding-top: 20px !important;
  }

  &-15 {
    padding-top: 15px !important;
  }
}

.p-b {
  &-10 {
    padding-bottom: 10px !important;
  }

  &-20 {
    padding-bottom: 20px !important;
  }

  &-25 {
    padding-bottom: 25px !important;
  }
}
