/*------------------------------------
  Widths
------------------------------------*/

/* Width in Percentage (%) */

.w-10x {
  width: 10% !important;
}

.w-15x {
  width: 15% !important;
}

.w-20x {
  width: 20% !important;
}

.w-25x {
  width: 25% !important;
}

.w-33_3x {
  width: 33.333333% !important;
}

.w-40x {
  width: 40% !important;
}

.w-48x {
  width: 48% !important;
}

.w-60x {
  width: 60% !important;
}

.w-16_6x {
  width: 16.666666% !important;
}

.w-66_6x {
  width: 66.666666% !important;
}

.w-auto {
  width: auto !important;
}

/* Max Width in Percentage (%) */
.w-1x {
  max-width: 1%;
}

.w-80x {
  max-width: 80%;
}

.w-90x {
  max-width: 90%;
}

.w-95x {
  width: 95%;
}

.mx-w-60x {
  max-width: 60% !important;
}

.mx-w-70x {
  max-width: 70% !important;
}

.mx-w-100x {
  max-width: 100% !important;
}

/* Min Width in Percentage (%) */

.mn-w-100x {
  min-width: 100% !important;
}

/* Width Viewport Width (vw) */

.w-10vw {
  width: 10vw !important;
}

.w-50vw {
  width: 50vw !important;
}

.w-70vw {
  width: 70vw !important;
}

.w-100vw {
  width: 100vw !important;
}

/* Width in Pixels (px) */
.w-3px {
  width: 3px !important;
}

.w-10px {
  width: 10px !important;
}

.w-11px {
  width: 11px !important;
}

.w-12px {
  width: 12px !important;
}

.w-13px {
  width: 13px !important;
}

.w-14px {
  width: 14px !important;
}

.w-15px {
  width: 15px !important;
}

.w-16px {
  width: 16px !important;
}

.w-17px {
  width: 17px !important;
}

.w-18px {
  width: 18px !important;
}

.w-19px {
  width: 19px !important;
}

.w-20px {
  width: 20px !important;
}

.w-21px {
  width: 21px !important;
}

.w-22px {
  width: 22px !important;
}

.w-23px {
  width: 23px !important;
}

.w-24px {
  width: 24px !important;
}

.w-25px {
  width: 25px !important;
}

.w-26px {
  width: 26px !important;
}

.w-28px {
  width: 28px !important;
}

.w-30px {
  width: 30px !important;
}

.w-32px {
  width: 32px !important;
}

.w-35px {
  width: 35px !important;
}

.w-36px {
  width: 36px !important;
}

.w-40px {
  width: 40px !important;
}

.w-45px {
  width: 45px !important;
}

.w-48px {
  width: 48px !important;
}

.w-50px {
  width: 50px !important;
}

.w-54px {
  width: 54px !important;
}

.w-55px {
  width: 55px !important;
}

.w-60px {
  width: 60px !important;
}

.w-64px {
  width: 64px !important;
}

.w-65px {
  width: 65px !important;
}

.w-70px {
  width: 70px !important;
}

.w-75px {
  width: 75px !important;
}

.w-80px {
  width: 80px !important;
}

.w-85px {
  width: 85px !important;
}

.w-90px {
  width: 90px !important;
}

.w-95px {
  width: 95px !important;
}

.w-100px {
  width: 100px !important;
}

.w-105px {
  width: 105px !important;
}

.w-110px {
  width: 110px !important;
}

.w-115px {
  width: 115px !important;
}

.w-120px {
  width: 120px !important;
}

.w-125px {
  width: 125px !important;
}

.w-130px {
  width: 130px !important;
}

.w-135px {
  width: 135px !important;
}

.w-140px {
  width: 140px !important;
}

.w-150px {
  width: 150px !important;
}

.w-160px {
  width: 160px !important;
}

.w-170px {
  width: 170px !important;
}

.w-180px {
  width: 180px !important;
}

.w-190px {
  width: 190px !important;
}

.w-200px {
  width: 200px !important;
}

.w-220px {
  width: 220px !important;
}

.w-215px {
  width: 215px !important;
}

.w-235px {
  width: 235px !important;
}

.w-250px {
  width: 250px !important;
}

.w-270px {
  width: 270px !important;
}

.w-300px {
  width: 300px !important;
}

.w-400px {
  width: 400px !important;
}

.w-340px {
  width: 340px !important;
}

.w-360px {
  width: 360px !important;
}

.w-370px {
  width: 370px !important;
}

.w-380px {
  width: 380px !important;
}

.w-410px {
  width: 410px !important;
}

.w-460px {
  width: 460px !important;
}

.w-465px {
  width: 465px !important;
}

.w-485px {
  width: 485px !important;
}

.w-560px {
  width: 560px !important;
}

.w-590px {
  width: 590px !important;
}

.w-600px {
  width: 600px !important;
}

.w-630px {
  width: 630px !important;
}

.w-680px {
  width: 680px !important;
  max-width: 100%;
}

.w-720px {
  width: 720px !important;
}

.w-760px {
  width: 760px !important;
}

.w-770px {
  width: 770px !important;
}

.w-780px {
  width: 780px !important;
}

.w-900px {
  width: 900px !important;
}

.w-945px {
  width: 945px !important;
}

.w-1025px {
  width: 1025px !important;
}

.w-100x {
  width: 100% !important;
}

.w-inherit {
  width: inherit !important;
}

/* Max Width in Pixels (px) */

.mx-w-100px {
  max-width: 100px;
}

.mx-w-120px {
  max-width: 120px;
}

.mx-w-130px {
  max-width: 130px;
}

.mx-w-140px {
  max-width: 140px;
}

.mx-w-150px {
  max-width: 150px;
}

.mx-w-160px {
  max-width: 160px;
}

.mx-w-170px {
  max-width: 170px;
}

.mx-w-190px {
  max-width: 190px;
}

.mx-w-200px {
  max-width: 200px;
}

.mx-w-250px {
  max-width: 250px;
}

.mx-w-300px {
  max-width: 300px;
}

.mx-w-400px {
  max-width: 400px;
}

.mx-w-500px {
  max-width: 500px;
}

.mx-w-540px {
  max-width: 540px;
}

.mx-w-550px {
  max-width: 550px;
}

.mx-w-570px {
  max-width: 570px;
}

.mx-w-600px {
  max-width: 600px;
}

.mx-w-645px {
  max-width: 645px;
}

.mx-w-670px {
  max-width: 670px;
}

.mx-w-700px {
  max-width: 700px;
}

.mx-w-750px {
  max-width: 750px;
}

.mx-w-770px {
  max-width: 770px;
}

.mx-w-780px {
  max-width: 780px;
}

.mx-w-800px {
  max-width: 800px;
}

.mx-w-840px {
  max-width: 840px;
}

.mx-w-870px {
  max-width: 870px;
}

.mx-w-960px {
  max-width: 960px;
}

/* Min Width in Pixels (px) */
.mn-w-30px {
  min-width: 30px;
}

.mn-w-35px {
  min-width: 35px;
}

.mn-w-40px {
  min-width: 40px;
}

.mn-w-45px {
  min-width: 45px;
}

.mn-w-50px {
  min-width: 50px;
}

.mn-w-55px {
  min-width: 55px;
}

.mn-w-65px {
  min-width: 65px;
}

.mn-w-70px {
  min-width: 70px;
}

.mn-w-75px {
  min-width: 75px;
}

.mn-w-80px {
  min-width: 80px;
}

.mn-w-85px {
  min-width: 85px;
}

.mn-w-90px {
  min-width: 90px;
}

.mn-w-95px {
  min-width: 95px;
}

.mn-w-100px {
  min-width: 100px;
}

.mn-w-110px {
  min-width: 110px;
}

.mn-w-120px {
  min-width: 120px;
}

.mn-w-130px {
  min-width: 130px;
}

.mn-w-140px {
  min-width: 140px;
}

.mn-w-150px {
  min-width: 150px;
}

.mn-w-160px {
  min-width: 160px;
}

.mn-w-170px {
  min-width: 170px;
}

.mn-w-180px {
  min-width: 180px;
}

.mn-w-190px {
  min-width: 190px;
}

.mn-w-200px {
  min-width: 200px;
}

.mn-w-210px {
  min-width: 210px;
}

.mn-w-220px {
  min-width: 220px;
}

.mn-w-230px {
  min-width: 230px;
}

.mn-w-240px {
  min-width: 240px;
}

.mn-w-250px {
  min-width: 250px;
}

.mn-w-300px {
  min-width: 300px;
}

.mn-w-400px {
  min-width: 400px;
}

.mn-w-1320px {
  min-width: 1320px;
}

/*------------------------------------
  Heights
------------------------------------*/

/* Height in Percentage (%) */
.h-50x {
  height: 50%;
}

.h-80x {
  height: 80%;
}

.h-90x {
  height: 90%;
}

.h-95x {
  height: 95%;
}

.h-100x {
  height: 100%;
}

/* Max Height in Percentage (%) */

.mx-h-100x {
  max-height: 100%;
}

/* Max Height in Viewport Height (vh) */
.mx-h-60vh {
  max-height: 60vh !important;
}

.mx-h-70vh {
  max-height: 70vh !important;
}

.mx-h-90vh {
  height: 90vh !important;
}

/* Min Height in Percentage (%) */

.mn-h-100x {
  min-height: 100%;
}

/* Height  in Viewport Height (vh) */
.h-35vh {
  height: 35vh !important;
}

.h-50vh {
  height: 50vh !important;
}

.h-70vh {
  height: 70vh !important;
}

.h-75vh {
  height: 75vh !important;
}

.h-100vh {
  height: 100vh !important;
}

/* Min Height in Viewport Height (vh) */
.mn-h-50vh {
  min-height: 50vh;
}

.mn-h-60vh {
  min-height: 60vh;
}

.mn-h-70vh {
  min-height: 70vh;
}

.mn-h-80vh {
  min-height: 80vh;
}

.mn-h-90vh {
  min-height: 90vh;
}

.mn-h-100vh {
  min-height: 100vh;
}

/* Auto Height */
.h-auto {
  height: auto !important;
}

/* Height in Pixels (px) */
.h-1px {
  height: 1px !important;
}

.h-2px {
  height: 2px !important;
}

.h-3px {
  height: 3px !important;
}

.h-4px {
  height: 4px !important;
}

.h-5px {
  height: 5px !important;
}

.h-6px {
  height: 6px !important;
}

.h-7px {
  height: 7px !important;
}

.h-8px {
  height: 8px !important;
}

.h-9px {
  height: 9px !important;
}

.h-10px {
  height: 10px !important;
}

.h-11px {
  height: 11px !important;
}

.h-12px {
  height: 12px !important;
}

.h-13px {
  height: 13px !important;
}

.h-14px {
  height: 14px !important;
}

.h-15px {
  height: 15px !important;
}

.h-16px {
  height: 16px !important;
}

.h-17px {
  height: 17px !important;
}

.h-18px {
  height: 18px !important;
}

.h-19px {
  height: 19px !important;
}

.h-20px {
  height: 20px !important;
}

.h-21px {
  height: 21px !important;
}

.h-22px {
  height: 22px !important;
}

.h-23px {
  height: 23px !important;
}

.h-24px {
  height: 24px !important;
}

.h-25px {
  height: 25px !important;
}

.h-26 {
  height: 26px !important;
}

.h-28px {
  height: 28px !important;
}

.h-30px {
  height: 30px !important;
}

.h-32px {
  height: 32px !important;
}

.h-35px {
  height: 35px !important;
}

.h-40px {
  height: 40px !important;
}

.h-45px {
  height: 45px !important;
}

.h-48px {
  height: 48px !important;
}

.h-50px {
  height: 50px !important;
}

.h-55px {
  height: 55px !important;
}

.h-60px {
  height: 60px !important;
}

.h-64px {
  height: 64px !important;
}

.h-70px {
  height: 70px !important;
}

.h-75px {
  height: 75px !important;
}

.h-80px {
  height: 80px !important;
}

.h-85px {
  height: 85px !important;
}

.h-88px {
  height: 88px !important;
}

.h-90px {
  height: 90px !important;
}

.h-95px {
  height: 95px !important;
}

.h-100px {
  height: 100px !important;
}

.h-105px {
  height: 105px !important;
}

.h-115px {
  height: 115px !important;
}

.h-120px {
  height: 120px !important;
}

.h-125px {
  height: 125px !important;
}

.h-130px {
  height: 130px !important;
}

.h-140px {
  height: 140px !important;
}

.h-150px {
  height: 150px !important;
}

.h-160px {
  height: 160px !important;
}

.h-170px {
  height: 170px !important;
}

.h-180px {
  height: 180px !important;
}

.h-200px {
  height: 200px !important;
}

.h-220px {
  height: 220px !important;
}

.h-250px {
  height: 250px !important;
}

.h-280px {
  height: 280px !important;
}

.h-300px {
  height: 300px !important;
}

.h-350px {
  height: 350px !important;
}

.h-400px {
  height: 400px !important;
}

.h-450px {
  height: 450px !important;
}

.h-460px {
  height: 460px !important;
}

.h-500px {
  height: 500px !important;
}

.h-600px {
  height: 600px !important;
}

.h-680px {
  height: 680px !important;
}

/* Max Height in Pixels (px) */
.mx-h-50px {
  max-height: 50px;
}

.mx-h-100px {
  max-height: 100px;
}

.mx-h-120px {
  max-height: 120px;
}

.mx-h-170px {
  max-height: 170px;
}

.mx-h-190px {
  max-height: 190px;
}

.mx-h-200px {
  max-height: 200px;
}

.mx-h-250px {
  max-height: 250px;
}

.mx-h-300px {
  max-height: 300px;
}

.mx-h-400px {
  max-height: 400px;
}

.mx-h-500px {
  max-height: 500px;
}

.mx-h-540px {
  max-height: 540px;
}

.mx-h-550px {
  max-height: 550px;
}

.mx-h-570px {
  max-height: 570px;
}

.mx-h-600px {
  max-height: 600px;
}

.mx-h-645px {
  max-height: 645px;
}

.mx-h-670px {
  max-height: 670px;
}

.mx-h-700px {
  max-height: 700px;
}

.mx-h-750px {
  max-height: 750px;
}

.mx-h-770px {
  max-height: 770px;
}

.mx-h-780px {
  max-height: 780px;
}

.mx-h-800px {
  max-height: 800px;
}

.mx-h-840px {
  max-height: 840px;
}

.mx-h-870px {
  max-height: 870px;
}

.mx-h-960px {
  max-height: 960px;
}

/* Min Height in Pixels (px) */

.mn-h-4px {
  min-height: 4px;
}

.mn-h-35px {
  min-height: 35px;
}

.mn-h-170px {
  min-height: 170px;
}

.mn-h-200px {
  min-height: 200px;
}

.mn-h-250px {
  min-height: 250px;
}

.mn-h-275px {
  min-height: 275px;
}

.mn-h-300px {
  min-height: 300px;
}

.mn-h-312px {
  min-height: 312px;
}

.mn-h-360px {
  min-height: 360px;
}

.mn-h-400px {
  min-height: 400px;
}

.mn-h-450px {
  min-height: 450px;
}

.mn-h-500px {
  min-height: 500px;
}

.mn-h-600px {
  min-height: 600px;
}
